@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titleProductos {
    font-size: 50px;
}

.subtitleProductos {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 20px;
}

.img-responsive {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
}