<div class="flex flex-col justify-center items-center">
    <form (ngSubmit)="processPayment()" #paymentForm="ngForm"
        class="grid grid-cols-1 lg:grid-cols-3 gap-6 max-w-7xl mx-auto my-10 p-8 bg-white shadow-lg rounded-lg">

        <!-- Columna 1: Pago con tarjeta -->
        <div class="payment-container col-span-1 bg-white p-6 shadow-lg rounded-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Pago con tarjeta</h2>

            <!-- Tarjeta de crédito visual -->
            <div class="card-container mb-6">
                <div
                    class="credit-card bg-indigo-600 text-white w-full max-w-sm mx-auto p-4 rounded-lg shadow-md relative">
                    <div class="card-top flex justify-between items-center mb-4">
                        <img [src]="cardLogo" alt="Card Logo" class="w-12" *ngIf="cardLogo">
                        <span class="text-sm">Válido hasta {{ expiryDate || 'MM/YY' }}</span>
                    </div>
                    <div class="card-number text-xl tracking-wide mb-6">{{ cardNumber || '1234 5678 9101 1121' }}</div>
                    <div class="card-bottom flex justify-between items-center">
                        <span class="text-sm">{{ name || 'Juan Pérez' }}</span>
                        <span class="text-sm">CVV: {{ cvv || '123' }}</span>
                    </div>
                </div>
            </div>

            <!-- Formulario de pago -->
            <div class="form-group mb-4">
                <label for="cardNumber" class="block text-gray-600 text-sm mb-2">Número de tarjeta</label>
                <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="cardNumber"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="1234 5678 9101 1121" required maxlength="19" (input)="formatCardNumber($event)"
                    (keypress)="allowOnlyNumbers($event)" inputmode="numeric">
            </div>

            <div class="flex space-x-4 mb-4">
                <div class="form-group w-1/2">
                    <label for="expiryDate" class="block text-gray-600 text-sm mb-2">Fecha de vencimiento</label>
                    <input type="text" id="expiryDate" name="expiryDate" [(ngModel)]="expiryDate"
                        class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                        placeholder="MM/YY" required maxlength="5" (keypress)="allowOnlyNumbers($event)"
                        (input)="formatExpiryDate($event)">
                </div>

                <div class="form-group w-1/2">
                    <label for="cvv" class="block text-gray-600 text-sm mb-2">CVV</label>
                    <input type="text" id="cvv" name="cvv" [(ngModel)]="cvv"
                        class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                        placeholder="123" (keypress)="allowOnlyNumbers($event)"  required maxlength="3">
                </div>
            </div>

            <div class="form-group mb-6">
                <label for="name" class="block text-gray-600 text-sm mb-2">Nombre en la tarjeta</label>
                <input type="text" id="name" name="name" [(ngModel)]="name"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="Juan Pérez" required>
            </div>

            <div class="form-group mb-6">
                <label for="email" class="block text-gray-600 text-sm mb-2">Correo electrónico</label>
                <input type="email" id="email" name="email" [(ngModel)]="email"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="tucorreo@ejemplo.com" required>
            </div>
        </div>

        <!-- Columna 2: Información de envío -->
        <div class="shipping-container col-span-1 bg-white p-6 shadow-lg rounded-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Información de envío</h2>

            <div class="form-group mb-4">
                <label for="direccionEnvio" class="block text-gray-600 text-sm mb-2">Dirección de envío</label>
                <input type="text" id="direccionEnvio" name="direccionEnvio" [(ngModel)]="direccionEnvio"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="Dirección de envío" required>
            </div>

            <div class="form-group mb-4">
                <label for="personaRecibe" class="block text-gray-600 text-sm mb-2">Persona que recibe</label>
                <input type="text" id="personaRecibe" name="personaRecibe" [(ngModel)]="personaRecibe"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="Nombre de la persona que recibe" required>
            </div>

            <div class="form-group mb-4">
                <label for="numeroCelular" class="block text-gray-600 text-sm mb-2">Número de celular</label>
                <input type="text" id="numeroCelular" name="numeroCelular" [(ngModel)]="numeroCelular"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="Número de celular" required>
            </div>

            <div class="form-group mb-4">
                <label for="ciudad" class="block text-gray-600 text-sm mb-2">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" [(ngModel)]="ciudad"
                    class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                    placeholder="Ciudad" required>
            </div>
        </div>

        <!-- Columna 3: Tu compra -->
        <div class="cart-items-container col-span-1 bg-white p-6 shadow-lg rounded-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Tu compra</h2>
            <ul>
                <li *ngFor="let item of items" class="mb-2">
                    <div class="flex justify-between items-center">
                        <span>{{ item.titulo }} ({{ item.cantidad }})</span>
                        <span>{{ transform(item.precio * item.cantidad) }}</span>
                    </div>
                </li>
            </ul>
            <div class="mt-4">
                <h4 class="text-end text-md font-semibold text-gray-800">Total: {{ transform(total) }}</h4>
            </div>
        </div>
    </form>

    <!-- Botón de pago -->
    <div class="flex justify-center w-64">
        <button type="submit" (click)="processPayment()"
            class="bg-indigo-600 text-white p-4 rounded-lg hover:bg-indigo-700 transition-all duration-300"
            [disabled]="!isFormComplete()">
            Pagar
        </button>
    </div>

    <!-- Mostrar el estado del proceso de pago aquí -->
    <div *ngIf="paymentStatus" class="alert alert-info text-center mt-2 bg-blue-100 text-blue-800 p-2 rounded-lg">
        {{ paymentStatus }}
    </div>
</div>